<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
	<script type="text/javascript" src="/js/jquery/jquery-3.3.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>